.customer-detail {
    background: #d7d7d7;
    border-radius: .2em;
    padding: 1em;
}

.last-update {
    margin-top: 2em;
    font-size: .8em;
    font-weight: 700;
}

.app-back-btn {
    margin-bottom: .5em;
}
